<title>%%TITLE%%</title>
<meta name="description" content="html puzzle solver">
<meta property="og:title" content="%%TITLE%%">
<meta property="og:description" content="html puzzle applet">
<meta property="og:url" content="%%CANONICAL_URL%%">
<meta property="og:image" content="%%PREVIEW_IMG%%">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:type" content="website">

